# Обработка данных

In [67]:
import pandas as pd
import numpy as np
import time
import datetime
from sklearn.cross_validation import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler

In [107]:
features = pd.read_csv('desktop/features.csv', index_col='match_id')
data = features.loc[:,'start_time':'dire_first_ward_time']
data = data.fillna(0)

,start_time,lobby_type,r1_hero,r1_level,r1_xp,r1_gold,r1_lh,r1_kills,r1_deaths,r1_items,...,radiant_ward_sentry_count,radiant_first_ward_time,dire_bottle_time,dire_courier_time,dire_flying_courier_time,dire_tpscroll_count,dire_boots_count,dire_ward_observer_count,dire_ward_sentry_count,dire_first_ward_time
match_id,,,,,,,,,,,,,,,,,,,,,
0,1430198770,7,11,5,2098,1489,20,0,0,7,...,0,35.0,103.0,-84.0,221.0,3,4,2,2,-52.0
1,1430220345,0,42,4,1188,1033,9,0,1,12,...,0,-20.0,149.0,-84.0,195.0,5,4,3,1,-5.0
2,1430227081,7,33,4,1319,1270,22,0,0,12,...,1,-39.0,45.0,-77.0,221.0,3,4,3,1,13.0
3,1430263531,1,29,4,1779,1056,14,0,0,5,...,0,-30.0,124.0,-80.0,184.0,0,4,2,0,27.0
4,1430282290,7,13,4,1431,1090,8,1,0,8,...,0,46.0,182.0,-80.0,225.0,6,3,3,0,-16.0

In [108]:
data.count()

start_time                     97230
lobby_type                     97230
r1_hero                        97230
r1_level                       97230
r1_xp                          97230
r1_gold                        97230
r1_lh                          97230
r1_kills                       97230
r1_deaths                      97230
r1_items                       97230
r2_hero                        97230
r2_level                       97230
r2_xp                          97230
r2_gold                        97230
r2_lh                          97230
r2_kills                       97230
r2_deaths                      97230
r2_items                       97230
r3_hero                        97230
r3_level                       97230
r3_xp                          97230
r3_gold                        97230
r3_lh                          97230
r3_kills                       97230
r3_deaths                      97230
r3_items                       97230
r4_hero                        97230
r4_level                       97230
r4_xp                          97230
r4_gold                        97230
                               ...
d4_deaths                      97230
d4_items                       97230
d5_hero                        97230
d5_level                       97230
d5_xp                          97230
d5_gold                        97230
d5_lh                          97230
d5_kills                       97230
d5_deaths                      97230
d5_items                       97230
first_blood_time               77677
first_blood_team               77677
first_blood_player1            77677
first_blood_player2            53243
radiant_bottle_time            81539
radiant_courier_time           96538
radiant_flying_courier_time    69751
radiant_tpscroll_count         97230
radiant_boots_count            97230
radiant_ward_observer_count    97230
radiant_ward_sentry_count      97230
radiant_first_ward_time        95394
dire_bottle_time               81087
dire_courier_time              96554
dire_flying_courier_time       71132
dire_tpscroll_count            97230
dire_boots_count               97230
dire_ward_observer_count       97230
dire_ward_sentry_count         97230
dire_first_ward_time           95404
Length: 102, dtype: int64

In [109]:
data = data.fillna(0)

In [110]:
data.count()

start_time                     97230
lobby_type                     97230
r1_hero                        97230
r1_level                       97230
r1_xp                          97230
r1_gold                        97230
r1_lh                          97230
r1_kills                       97230
r1_deaths                      97230
r1_items                       97230
r2_hero                        97230
r2_level                       97230
r2_xp                          97230
r2_gold                        97230
r2_lh                          97230
r2_kills                       97230
r2_deaths                      97230
r2_items                       97230
r3_hero                        97230
r3_level                       97230
r3_xp                          97230
r3_gold                        97230
r3_lh                          97230
r3_kills                       97230
r3_deaths                      97230
r3_items                       97230
r4_hero                        97230
r4_level                       97230
r4_xp                          97230
r4_gold                        97230
                               ...
d4_deaths                      97230
d4_items                       97230
d5_hero                        97230
d5_level                       97230
d5_xp                          97230
d5_gold                        97230
d5_lh                          97230
d5_kills                       97230
d5_deaths                      97230
d5_items                       97230
first_blood_time               97230
first_blood_team               97230
first_blood_player1            97230
first_blood_player2            97230
radiant_bottle_time            97230
radiant_courier_time           97230
radiant_flying_courier_time    97230
radiant_tpscroll_count         97230
radiant_boots_count            97230
radiant_ward_observer_count    97230
radiant_ward_sentry_count      97230
radiant_first_ward_time        97230
dire_bottle_time               97230
dire_courier_time              97230
dire_flying_courier_time       97230
dire_tpscroll_count            97230
dire_boots_count               97230
dire_ward_observer_count       97230
dire_ward_sentry_count         97230
dire_first_ward_time           97230
Length: 102, dtype: int64

In [23]:
target = features.loc[:, 'radiant_win']

# Часть 1 Градиентный бустинг

In [311]:
kf = KFold(n=len(data), n_folds=5, shuffle=True, random_state=241)

In [312]:
n_estimators_array = [10, 20, 30]

In [313]:
scores = []
for k in n_estimators_array:
    mdl = GradientBoostingClassifier(n_estimators=k, verbose=False, random_state=241)
    score = np.mean(cross_val_score(estimator=mdl, X=data, y=target, cv=kf, scoring='roc_auc'))
    scores.append(score)

In [314]:
scores

[0.6643877206345742, 0.6828535735340822, 0.6894962060591201]

In [309]:
mdl = GradientBoostingClassifier(n_estimators=50, verbose=False, random_state=241)
score = np.mean(cross_val_score(estimator=mdl, X=data, y=target, cv=kf, scoring='roc_auc'))

In [310]:
score

0.6974548316948366

In [224]:
features_test = pd.read_csv('desktop/features_test.csv', index_col='match_id')
features_test= features_test.fillna(0)

In [55]:
features_test.count()

start_time                     17177
lobby_type                     17177
r1_hero                        17177
r1_level                       17177
r1_xp                          17177
r1_gold                        17177
r1_lh                          17177
r1_kills                       17177
r1_deaths                      17177
r1_items                       17177
r2_hero                        17177
r2_level                       17177
r2_xp                          17177
r2_gold                        17177
r2_lh                          17177
r2_kills                       17177
r2_deaths                      17177
r2_items                       17177
r3_hero                        17177
r3_level                       17177
r3_xp                          17177
r3_gold                        17177
r3_lh                          17177
r3_kills                       17177
r3_deaths                      17177
r3_items                       17177
r4_hero                        17177
r4_level                       17177
r4_xp                          17177
r4_gold                        17177
                               ...
d4_deaths                      17177
d4_items                       17177
d5_hero                        17177
d5_level                       17177
d5_xp                          17177
d5_gold                        17177
d5_lh                          17177
d5_kills                       17177
d5_deaths                      17177
d5_items                       17177
first_blood_time               17177
first_blood_team               17177
first_blood_player1            17177
first_blood_player2            17177
radiant_bottle_time            17177
radiant_courier_time           17177
radiant_flying_courier_time    17177
radiant_tpscroll_count         17177
radiant_boots_count            17177
radiant_ward_observer_count    17177
radiant_ward_sentry_count      17177
radiant_first_ward_time        17177
dire_bottle_time               17177
dire_courier_time              17177
dire_flying_courier_time       17177
dire_tpscroll_count            17177
dire_boots_count               17177
dire_ward_observer_count       17177
dire_ward_sentry_count         17177
dire_first_ward_time           17177
Length: 102, dtype: int64

In [315]:
mdl.fit(data,target)
pred = mdl.predict_proba(features_test)[:, 1]
pred

In [60]:
start_time = datetime.datetime.now()
mdl = GradientBoostingClassifier(n_estimators=30, verbose=False, random_state=241)
mdl.fit(data, target)
score = np.mean(cross_val_score(estimator=mdl, X=data, y=target, cv=kf, scoring='roc_auc'))
print ('Time elapsed:', datetime.datetime.now() - start_time)
score

Time elapsed: 0:01:51.531379

# Часть 2 Логистическая регрессия

In [317]:
scaler = StandardScaler()
scaler.fit(data)
data_scaler = scaler.transform(data)

In [320]:
from sklearn.linear_model import LogisticRegression
C_arr = [10 ** x for x in range(-3, 3, 1)]
start_time = datetime.datetime.now()
scores = []
for C in C_arr:
    mdl = LogisticRegression(penalty='l2', random_state=241, C=C)
    score = np.mean(cross_val_score(estimator=mdl, X=data, y=target, cv=kf, scoring='roc_auc'))
    scores.append(score)
print ('Time elapsed:', datetime.datetime.now() - start_time)

Time elapsed: 0:00:19.042132

In [321]:
scores

[0.5134556366872982,
 0.5134556366872982,
 0.5134556366872982,
 0.5134556366872982,
 0.5134556366872982,
 0.5134556366872982]

In [322]:
start_time = datetime.datetime.now()
mdl = LogisticRegression(penalty='l2', random_state=241, C=0.001)
score = np.mean(cross_val_score(estimator=mdl, X=data_scaler, y=target, cv=kf, scoring='roc_auc'))

print ('Time elapsed:', datetime.datetime.now() - start_time)

Time elapsed: 0:00:11.140640

In [323]:
score

0.7161802463683578

In [324]:
drop_array = ['lobby_type', 'r1_hero', 'r2_hero', 'r3_hero', 'r4_hero', 'r5_hero','d1_hero', 'd2_hero', 'd3_hero', 'd4_hero', 'd5_hero']

In [325]:
data_without_categ = data
for k in range(0,len(drop_array)):
    data_without_categ = data_without_categ.drop(drop_array[k],1)

In [326]:
start_time = datetime.datetime.now()
mdl = LogisticRegression(penalty='l2', random_state=241, C=0.001)
score = np.mean(cross_val_score(estimator=mdl, X=data_without_categ, y=target, cv=kf, scoring='roc_auc'))
print ('Time elapsed:', datetime.datetime.now() - start_time)
score

Time elapsed: 0:00:03.173188

0.5134556366872982

In [327]:
scaler.fit(data_without_categ)
data_without_categ_scaler = scaler.transform(data_without_categ)

In [328]:
start_time = datetime.datetime.now()
mdl = LogisticRegression(penalty='l2', random_state=241, C=0.001)
score = np.mean(cross_val_score(estimator=mdl, X=data_without_categ_scaler, y=target, cv=kf, scoring='roc_auc'))
print ('Time elapsed:', datetime.datetime.now() - start_time)
score

Time elapsed: 0:00:10.711886

0.7162355910206267

In [329]:
heroes = pd.Series()

for h in ['r1_hero', 'r2_hero', 'r3_hero', 'r4_hero', 'r5_hero', 'd1_hero', 'd2_hero', 'd3_hero', 'd4_hero', 'd5_hero']:
    heroes = heroes.append(data[h])

In [331]:
len(heroes.unique())

108

In [332]:
X_pick = np.zeros((data.shape[0], heroes.max()))

for i, match_id in enumerate(data.index):
    for p in range(5):
        X_pick[i, data.loc[match_id, 'r%d_hero' % (p+1)]-1] = 1
        X_pick[i, data.loc[match_id, 'd%d_hero' % (p+1)]-1] = -1

In [334]:
X = np.hstack([data_without_categ, X_pick])

In [335]:
start_time = datetime.datetime.now()
mdl = LogisticRegression(penalty='l2', random_state=241, C=0.001)
score = np.mean(cross_val_score(estimator=mdl, X=X, y=target, cv=kf, scoring='roc_auc'))
print ('Time elapsed:', datetime.datetime.now() - start_time)
score

Time elapsed: 0:00:03.069244

0.5134556366872982

In [336]:
scaler.fit(X)
X_scaler = scaler.transform(X)

In [337]:
start_time = datetime.datetime.now()
mdl = LogisticRegression(penalty='l2', random_state=241, C=0.001)
score = np.mean(cross_val_score(estimator=mdl, X=X_scaler, y=target, cv=kf, scoring='roc_auc'))
print ('Time elapsed:', datetime.datetime.now() - start_time)
score

Time elapsed: 0:00:20.913060

0.751668830891463

In [338]:
features_test = pd.read_csv('desktop/features_test.csv', index_col='match_id')
features_test= features_test.fillna(0)
features_test_without_categ = features_test
for k in range(0,len(drop_array)):
    features_test_without_categ = features_test_without_categ.drop(drop_array[k],1)
features_test_without_categ.head()

,start_time,r1_level,r1_xp,r1_gold,r1_lh,r1_kills,r1_deaths,r1_items,r2_level,r2_xp,...,radiant_ward_sentry_count,radiant_first_ward_time,dire_bottle_time,dire_courier_time,dire_flying_courier_time,dire_tpscroll_count,dire_boots_count,dire_ward_observer_count,dire_ward_sentry_count,dire_first_ward_time
match_id,,,,,,,,,,,,,,,,,,,,,
6,1430287923,4,1103,1089,8,0,1,9,3,1183,...,0,12.0,247.0,-86.0,272.0,3,4,2,0,118.0
7,1430293357,2,556,570,1,0,0,9,4,1194,...,2,-29.0,168.0,-54.0,0.0,3,2,2,1,16.0
10,1430301774,2,751,808,1,0,0,13,2,421,...,1,-22.0,46.0,-87.0,186.0,1,3,3,0,-34.0
13,1430323933,3,708,903,1,1,1,11,2,672,...,2,-49.0,30.0,-89.0,210.0,3,4,2,1,-26.0
16,1430331112,4,1259,661,4,0,0,9,5,1703,...,0,36.0,180.0,-86.0,180.0,1,3,2,1,-33.0

In [339]:
X_pick_test = np.zeros((features_test.shape[0], heroes.max()))

for i, match_id in enumerate(features_test.index):
    for p in range(5):
        X_pick_test[i, features_test.loc[match_id, 'r%d_hero' % (p+1)]-1] = 1
        X_pick_test[i, features_test.loc[match_id, 'd%d_hero' % (p+1)]-1] = -1

In [341]:
X_test=np.hstack([features_test_without_categ, X_pick_test])
scaler.fit(X_test)
X_test_scaler = scaler.transform(X_test)

In [342]:
mdl.fit(X_scaler, target)
pred = mdl.predict_proba(X_test_scaler)[:,1]

In [343]:
pred

array([0.804083  , 0.73987348, 0.20335309, ..., 0.25245072, 0.62351102,
       0.45177905])

In [344]:
results = pd.DataFrame(
    index=features_test.index,
    data=pred,
    columns=['radiant_win']
)

In [345]:
results.sort_values(by='radiant_win')

          radiant_win
match_id
33469        0.009892
27709        0.012164
89107        0.017861
1687         0.020448
81528        0.021590
75794        0.022153
26506        0.023342
70272        0.025006
109641       0.026001
70251        0.026101
46517        0.026592
7423         0.028355
5219         0.029637
82121        0.029965
42799        0.030383
45042        0.031159
53156        0.031404
82921        0.031819
304          0.032236
27550        0.033502
29135        0.034716
28773        0.034998
99958        0.035486
99388        0.036348
5484         0.036517
31512        0.037525
93777        0.037593
57861        0.038187
34376        0.038313
13773        0.038345
...               ...
45346        0.967810
95821        0.969470
110062       0.970615
56314        0.971246
103928       0.973317
2526         0.973616
43732        0.973887
19836        0.974538
107729       0.974833
45581        0.977017
45429        0.977800
86616        0.978537
16698        0.978599
39558        0.979116
107111       0.979206
39500        0.979797
35575        0.980369
52485        0.981369
45619        0.982292
93969        0.982498
19110        0.982556
50321        0.983038
113111       0.984319
46609        0.986632
50581        0.987872
30077        0.989689
34660        0.992861
38875        0.993849
4320         0.994568
14176        0.994842

[17177 rows x 1 columns]

In [302]:
results.to_csv('predictions.csv')